################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VRPE Installer/.vs/VRPE Installer
/VRPE Installer/VRPE Installer/obj/Debug
